:root {
  --main-bg: #F3F7FA;
  --main-black: #4A4A4A;
  --main-white: #FFFFFF;
  --sky-blue: #2196F3;
  --light-blue: #F1FCFF;
  --light-gray: #A0B0B9;
  --dark-gray: #9ABBCE;
  --border-gray: #DFE5EC;
}
